*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(timer.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.container-box {
    margin: 25px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0, 0, 0, 0.6);
    gap: 1em;
    padding: 1em ;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50% , -50%); 
    border-radius: 5px;
    font-family: sans-serif;
    
}
.container {
    text-align: center;
    background-color: rgb(249, 188, 114);
    border-radius: 5px;

}
.time {
    padding: 0.5em 0;
    font-weight: bold;
    font-size: 2em;
}

.unit {
    font-size: 1.5em ;
    font-style: italic;
    color: rgb(47, 27, 2);  
    width: auto;
    padding-bottom:1em;
}